* {
    box-sizing: border-box;
    margin: 0;
    border: 0; 
}
html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: whitesmoke;
    border: coral 10px solid;
    width: 600px;
    height: 600px;
}