* {
    box-sizing: border-box;
    margin: 0;
    border: 0; 
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container {
    outline: coral 10px solid; 
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 35vh;
    height: 7vh;
    font-size: 5vh;
}

button:hover {
    background-color: coral;
}